
venv/lib/python2.7/site-packages/sklearn/datasets/data/wine_data.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/linnerud_physiological.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/linnerud_exercise.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/iris.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/breast_cancer.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/boston_house_prices.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/wine_data.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/linnerud_physiological.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/linnerud_exercise.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/iris.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/breast_cancer.csv
venv/lib/python2.7/site-packages/sklearn/datasets/data/boston_house_prices.csv
